openapi: 3.0.3
info:
  contact:
    email: partners@sentry.io
  description: Sentry Public API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://sentry.io/terms/
  title: API Reference
  version: v0
servers:
- url: https://sentry.io/
tags:
- description: Endpoints for teams
  externalDocs:
    description: Found an error? Let us know.
    url: https://github.com/getsentry/sentry-docs/issues/new/?title=API%20Documentation%20Error:%20/api/teams/&template=api_error_template.md
  name: Teams
  x-display-description: false
- description: Endpoints for organizations
  externalDocs:
    description: Found an error? Let us know.
    url: https://github.com/getsentry/sentry-docs/issues/new/?title=API%20Documentation%20Error:%20/api/organizations/&template=api_error_template.md
  name: Organizations
  x-display-description: false
- description: Endpoints for projects
  externalDocs:
    description: Found an error? Let us know.
    url: https://github.com/getsentry/sentry-docs/issues/new/?title=API%20Documentation%20Error:%20/api/projects/&template=api_error_template.md
  name: Projects
  x-display-description: false
- description: Endpoints for events and issues
  externalDocs:
    description: Found an error? Let us know.
    url: https://github.com/getsentry/sentry-docs/issues/new/?title=API%20Documentation%20Error:%20/api/events/&template=api_error_template.md
  name: Events
  x-sidebar-name: Events & Issues
  x-display-description: false
- description: Endpoints for releases
  externalDocs:
    description: Found an error? Let us know.
    url: https://github.com/getsentry/sentry-docs/issues/new/?title=API%20Documentation%20Error:%20/api/releases/&template=api_error_template.md
  name: Releases
  x-display-description: false
- description: Endpoints for the integration platform
  externalDocs:
    description: Found an error? Let us know.
    url: https://github.com/getsentry/sentry-docs/issues/new/?title=API%20Documentation%20Error:%20/api/integration-platform/&template=api_error_template.md
  name: Integration
  x-sidebar-name: Integration Platform
  x-display-description: false
- description: |-
    System for Cross-Domain Identity Management ([SCIM](http://www.simplecloud.info/)) is a standard implemented by Identity Providers and applications in order to facilitate federated identity management. Through these APIs you can add and delete members as well as teams. Sentry SaaS customers must be on a Business Plan with SAML2 Enabled. SCIM uses a bearer token for authentication that is created when SCIM is enabled. For how to enable SCIM, see our docs [here](/product/accounts/sso/#scim-provisioning).
     Sentry's SCIM API does not currently support syncing passwords, or setting any User attributes other than `active`.
  externalDocs:
    description: Found an error? Let us know.
    url: https://github.com/getsentry/sentry-docs/issues/new/?title=API%20Documentation%20Error:%20/api/integration-platform/&template=api_error_template.md
  name: SCIM
  x-sidebar-name: SCIM (Beta)
  x-display-description: true
- description: Discover and Performance allow you to slice and dice your Error and
    Transaction events
  externalDocs:
    description: Found an error? Let us know.
    url: https://github.com/getsentry/sentry-docs/issues/new/?title=API%20Documentation%20Error:%20/api/integration-platform/&template=api_error_template.md
  name: Discover
  x-sidebar-name: Discover & Performance
  x-display-description: true
- description: Endpoints for Crons
  externalDocs:
    description: Found an error? Let us know.
    url: https://github.com/getsentry/sentry-docs/issues/new/?title=API%20Documentation%20Error:%20/api/integration-platform/&template=api_error_template.md
  name: Crons
  x-sidebar-name: Crons (Beta)
  x-display-description: true
paths:
  /api/0/organization/{organization_slug}/monitors/{monitor_slug}/checkins/:
    get:
      description: Retrieve a list of check-ins for a monitor
      operationId: Retrieve check-ins for a monitor
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The slug of the monitor
        explode: false
        in: path
        name: monitor_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the check-in
        explode: false
        in: path
        name: checkin_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Retrieve_check_ins_for_a_monitor_200_response_inner'
                type: array
          description: ""
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - project:admin
        - project:read
        - project:write
      tags:
      - Crons
      x-accepts: application/json
    post:
      description: |-
        Creates a new check-in for a monitor.

        If `status` is not present, it will be assumed that the check-in is starting, and be marked as `in_progress`.

        To achieve a ping-like behavior, you can simply define `status` and optionally `duration` and
        this check-in will be automatically marked as finished.

        Note: If a DSN is utilized for authentication, the response will be limited in details.
      operationId: Create a new check-in
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The slug of the monitor
        explode: false
        in: path
        name: monitor_slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create_a_new_check_in_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve_check_ins_for_a_monitor_200_response_inner'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve_check_ins_for_a_monitor_200_response_inner'
          description: ""
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - project:admin
        - project:read
        - project:write
      tags:
      - Crons
      x-content-type: application/json
      x-accepts: application/json
  /api/0/organization/{organization_slug}/monitors/{monitor_slug}/checkins/{checkin_id}/:
    put:
      description: |-
        Updates a check-in.

        Once a check-in is finished (indicated via an `ok` or `error` status) it can no longer be changed.

        If you simply wish to update that the task is still running, you can simply send an empty payload.

        You may use `latest` for the `checkin_id` parameter in order to retrieve
        the most recent (by creation date) check-in which is still mutable (not marked as finished).
      operationId: Update a check-in
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The slug of the monitor
        explode: false
        in: path
        name: monitor_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the check-in
        explode: false
        in: path
        name: checkin_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create_a_new_check_in_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve_check_ins_for_a_monitor_200_response_inner'
          description: ""
        "208":
          description: Already Reported
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - project:admin
        - project:read
        - project:write
      tags:
      - Crons
      x-content-type: application/json
      x-accepts: application/json
  /api/0/organizations/{organization_slug}/events/:
    get:
      description: |-
        Retrieves discover (also known as events) data for a given organization.

        **Eventsv2 Deprecation Note**: Users who may be using the `eventsv2` endpoint should update their requests to the `events` endpoint outline in this document.
        The `eventsv2` endpoint is not a public endpoint and has no guaranteed availability. If you are not making any API calls to `eventsv2`, you can safely ignore this.
        Changes between `eventsv2` and `events` include:
        - Field keys in the response now match the keys in the requested `field` param exactly.
        - The `meta` object in the response now shows types in the nested `field` object.

        Aside from the url change, there are no changes to the request payload itself.

        **Note**: This endpoint is intended to get a table of results, and is not for doing a full export of data sent to
        Sentry.

        The `field` query parameter determines what fields will be selected in the `data` and `meta` keys of the endpoint response.
        - The `data` key contains a list of results row by row that match the `query` made
        - The `meta` key contains information about the response, including the unit or type of the fields requested
      operationId: Query Discover Events in Table Format
      parameters:
      - description: "The end of the period of time for the query, expected in ISO-8601\
          \ format. For example `2001-12-14T12:34:56.7890`"
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The name of environments to filter by.
        explode: true
        in: query
        name: environment
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: "The ids of projects to filter by. `-1` means all available projects.\
          \ If this\_parameter is omitted, the request will default to using 'My Projects'"
        explode: true
        in: query
        name: project
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: "The start of the period of time for the query, expected in ISO-8601\
          \ format. For example `2001-12-14T12:34:56.7890`"
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |-
          The period of time for the query, will override the start & end parameters, a number followed by one of:
          - `d` for days
          - `h` for hours
          - `m` for minutes
          - `s` for seconds
          - `w` for weeks

          For example `24h`, to mean query data starting from 24 hours ago to now.
        explode: true
        in: query
        name: statsPeriod
        required: false
        schema:
          type: string
        style: form
      - description: |
          The fields, functions, or equations to request for the query. At most 20 fields can be selected per request. Each field can be one of the following types:
          - A built-in key field. See possible fields in the [properties table](/product/sentry-basics/search/searchable-properties/#properties-table), under any field that is an event property
              - example: `field=transaction`
          - A tag. Tags should use the `tag[]` formatting to avoid ambiguity with any fields
              - example: `field=tag[isEnterprise]`
          - A function which will be in the format of `function_name(parameters,...)`. See possible functions in the [query builder documentation](/product/discover-queries/query-builder/#stacking-functions)
              - when a function is included, Discover will group by any tags or fields
              - example: `field=count_if(transaction.duration,greater,300)`
          - An equation when prefixed with `equation|`. Read more about [equations here](https://docs.sentry.io/product/discover-queries/query-builder/query-equations/)
              - example: `field=equation|count_if(transaction.duration,greater,300) / count() * 100`
        explode: true
        in: query
        name: field
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Limit the number of rows to return in the result. Default and
          maximum allowed is 100.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: |
          The search filter for your query, read more about query syntax [here](https://docs.sentry.io/product/sentry-basics/search/)

          example: `query=(transaction:foo AND release:abc) OR (transaction:[bar,baz] AND release:def)`
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: "What to order the results of the query by. Must be something\
          \ in the `field` list, excluding equations."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Success:
                  value:
                    data:
                    - count_if(transaction.duration,greater,300): 5
                      count(): 10
                      equation|count_if(transaction.duration,greater,300) / count() * 100: 50
                      transaction: foo
                    - count_if(transaction.duration,greater,300): 3
                      count(): 20
                      equation|count_if(transaction.duration,greater,300) / count() * 100: 15
                      transaction: bar
                    - count_if(transaction.duration,greater,300): 8
                      count(): 40
                      equation|count_if(transaction.duration,greater,300) / count() * 100: 20
                      transaction: baz
                    meta:
                      fields:
                        count_if(transaction.duration,greater,300): integer
                        count(): integer
                        equation|count_if(transaction.duration,greater,300) / count() * 100: number
                        transaction: string
              schema:
                $ref: '#/components/schemas/Query_Discover_Events_in_Table_Format_200_response'
          description: ""
        "400":
          description: Invalid Query
        "404":
          description: Not Found
      security:
      - auth_token:
        - org:admin
        - org:read
        - org:write
      tags:
      - Discover
      x-accepts: application/json
  /api/0/organizations/{organization_slug}/members/{member_id}/:
    delete:
      description: Remove an organization member.
      operationId: Delete an Organization Member
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The member ID.
        explode: false
        in: path
        name: member_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - member:admin
        - member:read
        - member:write
      tags:
      - Organizations
      x-accepts: application/json
    get:
      description: |-
        Retrieve an organization member's details.

        Will return a pending invite as long as it's already approved.
      operationId: Retrieve an Organization Member
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The member ID.
        explode: false
        in: path
        name: member_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve_an_Organization_Member_200_response'
          description: ""
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - member:admin
        - member:read
        - member:write
      tags:
      - Organizations
      x-accepts: application/json
  /api/0/organizations/{organization_slug}/monitors/:
    get:
      description: "Lists monitors, including nested monitor enviroments. May be filtered\
        \ to a project or environment."
      operationId: Retrieve monitors for an organization
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: "The ids of projects to filter by. `-1` means all available projects.\
          \ If this\_parameter is omitted, the request will default to using 'My Projects'"
        explode: true
        in: query
        name: project
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: The name of environments to filter by.
        explode: true
        in: query
        name: environment
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Retrieve_monitors_for_an_organization_200_response_inner'
                type: array
          description: ""
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - org:admin
        - org:read
        - org:write
      tags:
      - Crons
      x-accepts: application/json
    post:
      description: Create a new monitor.
      operationId: Create a monitor
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create_a_monitor_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve_monitors_for_an_organization_200_response_inner'
          description: ""
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - org:admin
        - org:read
        - org:write
      tags:
      - Crons
      x-content-type: application/json
      x-accepts: application/json
  /api/0/organizations/{organization_slug}/monitors/{monitor_slug}/:
    delete:
      description: Delete a monitor or monitor environments.
      operationId: Delete a monitor or monitor environments
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The slug of the monitor
        explode: false
        in: path
        name: monitor_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The name of environments to filter by.
        explode: true
        in: query
        name: environment
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "202":
          description: Accepted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - project:admin
        - project:read
        - project:write
      tags:
      - Crons
      x-accepts: application/json
    get:
      description: Retrieves details for a monitor.
      operationId: Retrieve a monitor
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The slug of the monitor
        explode: false
        in: path
        name: monitor_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The name of environments to filter by.
        explode: true
        in: query
        name: environment
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve_monitors_for_an_organization_200_response_inner'
          description: ""
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - project:admin
        - project:read
        - project:write
      tags:
      - Crons
      x-accepts: application/json
    put:
      description: Update a monitor.
      operationId: Update a monitor
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The slug of the monitor
        explode: false
        in: path
        name: monitor_slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create_a_monitor_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve_monitors_for_an_organization_200_response_inner'
          description: ""
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - project:admin
        - project:read
        - project:write
      tags:
      - Crons
      x-content-type: application/json
      x-accepts: application/json
  /api/0/organizations/{organization_slug}/projects/:
    get:
      description: Return a list of projects bound to a organization.
      operationId: List an Organization's Projects
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: A pointer to the last object fetched and its sort order; used
          to retrieve the next or previous results.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Success:
                  value:
                  - dateCreated: 2018-11-06T21:19:58.536Z
                    firstEvent: null
                    access: []
                    hasAccess: true
                    id: "3"
                    isBookmarked: false
                    isMember: true
                    name: Prime Mover
                    platform: ""
                    platforms: []
                    slug: prime-mover
                    team:
                      id: "2"
                      name: Powerful Abolitionist
                      slug: powerful-abolitionist
                    teams:
                    - id: "2"
                      name: Powerful Abolitionist
                      slug: powerful-abolitionist
                    environments:
                    - local
                    eventProcessing:
                      symbolicationDegraded: false
                    features:
                    - releases
                    firstTransactionEvent: true
                    hasSessions: true
                    hasProfiles: true
                    hasReplays: true
                    hasMinifiedStackTrace: false
                    hasMonitors: true
                    hasUserReports: false
                    latestRelease: null
              schema:
                items:
                  $ref: '#/components/schemas/List_an_Organization_s_Projects_200_response_inner'
                type: array
          description: ""
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - org:admin
        - org:read
        - org:write
      tags:
      - Organizations
      x-accepts: application/json
  /api/0/organizations/{organization_slug}/scim/v2/Groups:
    get:
      description: |-
        Returns a paginated list of teams bound to a organization with a SCIM Groups GET Request.
        - Note that the members field will only contain up to 10000 members.
      operationId: List an Organization's Paginated Teams
      parameters:
      - description: The slug of the organization.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: SCIM 1-offset based index for pagination.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
        style: form
      - description: A SCIM filter expression. The only operator currently supported
          is `eq`.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of results the query should return, maximum\
          \ of 100."
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      - description: Fields that should be left off of return values. Right now the
          only supported field for this query is `members`.
        explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:ListResponse
                totalResults: 1
                startIndex: 1
                itemsPerPage: 1
                Resources:
                - schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:Group
                  id: "23232"
                  displayName: test-scimv2
                  members: []
                  meta:
                    resourceType: Group
              schema:
                $ref: '#/components/schemas/List_an_Organization_s_Paginated_Teams_200_response'
          description: Success
        "401":
          description: Permission Denied
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - team:read
      tags:
      - SCIM
      x-accepts: application/json
    post:
      description: Create a new team bound to an organization via a SCIM Groups POST
        Request. Note that teams are always created with an empty member set. The
        endpoint will also do a normalization of uppercase / spaces to lowercase and
        dashes.
      operationId: Provision a New Team
      parameters:
      - description: The slug of the organization.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              schemas:
              - urn:ietf:params:scim:schemas:core:2.0:Group
              displayName: Test SCIMv2
              members: []
            schema:
              $ref: '#/components/schemas/Provision_a_New_Team_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                schemas:
                - urn:ietf:params:scim:schemas:core:2.0:Group
                displayName: Test SCIMv2
                members: []
                meta:
                  resourceType: Group
                id: "123"
              schema:
                $ref: '#/components/schemas/List_an_Organization_s_Paginated_Teams_200_response_Resources_inner'
          description: Success
        "400":
          description: Bad input
        "403":
          description: Forbidden
        "409":
          description: Team slug already exists
      security:
      - auth_token:
        - team:write
      tags:
      - SCIM
      x-content-type: application/json
      x-accepts: application/json
  /api/0/organizations/{organization_slug}/scim/v2/Groups/{team_id}:
    delete:
      description: Delete a team with a SCIM Group DELETE Request.
      operationId: Delete an Individual Team
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the team you'd like to query / update.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - team:admin
      tags:
      - SCIM
      x-accepts: application/json
    get:
      description: |-
        Query an individual team with a SCIM Group GET Request.
        - Note that the members field will only contain up to 10000 members.
      operationId: Query an Individual Team
      parameters:
      - description: The id of the team you'd like to query / update.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: integer
        style: simple
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                SuccessfulResponse:
                  summary: Successful response
                  value:
                    schemas:
                    - urn:ietf:params:scim:schemas:core:2.0:Group
                    id: "23232"
                    displayName: test-scimv2
                    members: []
                    meta:
                      resourceType: Group
              schema:
                $ref: '#/components/schemas/Query_an_Individual_Team_200_response'
          description: ""
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - team:admin
        - team:read
        - team:write
      tags:
      - SCIM
      x-accepts: application/json
    patch:
      description: |-
        Update a team's attributes with a SCIM Group PATCH Request. Valid operations are:

        * Renaming a team:
        ```json
        {
            "Operations": [{
                "op": "replace",
                "value": {
                    "id": 23,
                    "displayName": "newName"
                }
            }]
        }
        ```
        * Adding a member to a team:
        ```json
        {
            "Operations": [{
                "op": "add",
                "path": "members",
                "value": [
                    {
                        "value": 23,
                        "display": "testexample@example.com"
                    }
                ]
            }]
        }
        ```
        * Removing a member from a team:
        ```json
        {
            "Operations": [{
                "op": "remove",
                "path": "members[value eq "23"]"
            }]
        }
        ```
        * Replacing an entire member set of a team:
        ```json
        {
            "Operations": [{
                "op": "replace",
                "path": "members",
                "value": [
                    {
                        "value": 23,
                        "display": "testexample2@sentry.io"
                    },
                    {
                        "value": 24,
                        "display": "testexample3@sentry.io"
                    }
                ]
            }]
        }
        ```
      operationId: Update a Team's Attributes
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the team you'd like to query / update.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update_a_Team_s_Attributes_request'
        required: true
      responses:
        "204":
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - team:admin
        - team:write
      tags:
      - SCIM
      x-content-type: application/json
      x-accepts: application/json
  /api/0/organizations/{organization_slug}/scim/v2/Users:
    get:
      description: Returns a paginated list of members bound to a organization with
        a SCIM Users GET Request.
      operationId: List an Organization's Members
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: SCIM 1-offset based index for pagination.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: "The maximum number of results the query should return, maximum\
          \ of 100."
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          minimum: 0
          type: integer
        style: form
      - description: A SCIM filter expression. The only operator currently supported
          is `eq`.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      - description: Fields that should be left off of return values. Right now the
          only supported field for this query is members.
        explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          default: []
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                ListAnOrganization'sMembers:
                  summary: List an Organization's Members
                  value:
                    schemas:
                    - urn:ietf:params:scim:api:messages:2.0:ListResponse
                    totalResults: 1
                    startIndex: 1
                    itemsPerPage: 1
                    Resources:
                    - schemas:
                      - urn:ietf:params:scim:schemas:core:2.0:User
                      id: "102"
                      userName: test.user@okta.local
                      emails:
                      - primary: true
                        value: test.user@okta.local
                        type: work
                      name:
                        familyName: N/A
                        givenName: N/A
                      active: true
                      meta:
                        resourceType: User
                      sentryOrgRole: member
              schema:
                $ref: '#/components/schemas/List_an_Organization_s_Members_200_response'
          description: ""
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - member:admin
        - member:read
        - member:write
      tags:
      - SCIM
      x-accepts: application/json
    post:
      description: |-
        Create a new Organization Member via a SCIM Users POST Request.
        - `userName` should be set to the SAML field used for email, and active should be set to `true`.
        - `sentryOrgRole` can only be `admin`, `manager`, `billing`, or `member`.
        - Sentry's SCIM API doesn't currently support setting users to inactive,
        and the member will be deleted if active is set to `false`.
        - The API also does not support setting secondary emails.
      operationId: Provision a New Organization Member
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provision_a_New_Organization_Member_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                ProvisionNewMember:
                  summary: Provision new member
                  value:
                    schemas:
                    - urn:ietf:params:scim:schemas:core:2.0:User
                    id: "242"
                    userName: test.user@okta.local
                    emails:
                    - primary: true
                      value: test.user@okta.local
                      type: work
                    active: true
                    name:
                      familyName: N/A
                      givenName: N/A
                    meta:
                      resourceType: User
                    sentryOrgRole: member
              schema:
                $ref: '#/components/schemas/List_an_Organization_s_Members_200_response_Resources_inner'
          description: ""
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - member:admin
        - member:write
      tags:
      - SCIM
      x-content-type: application/json
      x-accepts: application/json
  /api/0/organizations/{organization_slug}/scim/v2/Users/{member_id}:
    delete:
      description: Delete an organization member with a SCIM User DELETE Request.
      operationId: Delete an Organization Member via SCIM
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the member you'd like to query.
        explode: false
        in: path
        name: member_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - member:admin
      tags:
      - SCIM
      x-accepts: application/json
    get:
      description: |-
        Query an individual organization member with a SCIM User GET Request.
        - The `name` object will contain fields `firstName` and `lastName` with the values of `N/A`.
        Sentry's SCIM API does not currently support these fields but returns them for compatibility purposes.
      operationId: Query an Individual Organization Member
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the member you'd like to query.
        explode: false
        in: path
        name: member_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                SuccessfulResponse:
                  summary: Successful response
                  value:
                    schemas:
                    - urn:ietf:params:scim:schemas:core:2.0:User
                    id: "102"
                    userName: test.user@okta.local
                    emails:
                    - primary: true
                      value: test.user@okta.local
                      type: work
                    name:
                      familyName: N/A
                      givenName: N/A
                    active: true
                    meta:
                      resourceType: User
                    sentryOrgRole: member
              schema:
                $ref: '#/components/schemas/List_an_Organization_s_Members_200_response_Resources_inner'
          description: ""
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - member:admin
        - member:read
        - member:write
      tags:
      - SCIM
      x-accepts: application/json
    patch:
      description: |-
        Update an organization member's attributes with a SCIM PATCH Request.
        The only supported attribute is `active`. After setting `active` to false
        Sentry will permanently delete the Organization Member.
      operationId: Update an Organization Member's Attributes
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the member you'd like to query.
        explode: false
        in: path
        name: member_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update_an_Organization_Member_s_Attributes_request'
        required: true
      responses:
        "204":
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - member:admin
        - member:write
      tags:
      - SCIM
      x-content-type: application/json
      x-accepts: application/json
  /api/0/organizations/{organization_slug}/stats_v2/:
    get:
      description: |-
        Query event counts for your Organization.
        Select a field, define a date range, and group or filter by columns.
      operationId: Retrieve Event Counts for an Organization (v2)
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: "This defines the range of the time series, relative to now.\
          \ The range is given in a `<number><unit>` format. For example `1d` for\
          \ a one day range. Possible units are `m` for minutes, `h` for hours, `d`\
          \ for days and `w` for weeks.You must either provide a `statsPeriod`, or\
          \ a `start` and `end`."
        explode: true
        in: query
        name: statsPeriod
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      - description: "This is the resolution of the time series, given in the same\
          \ format as `statsPeriod`. The default resolution is `1h` and the minimum\
          \ resolution is currently restricted to `1h` as well. Intervals larger than\
          \ `1d` are not supported, and the interval has to cleanly divide one day."
        explode: true
        in: query
        name: interval
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      - description: "This defines the start of the time series range as an explicit\
          \ datetime, either in UTC ISO8601 or epoch seconds.Use along with `end`\
          \ instead of `statsPeriod`."
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "This defines the inclusive end of the time series range as an\
          \ explicit datetime, either in UTC ISO8601 or epoch seconds.Use along with\
          \ `start` instead of `statsPeriod`."
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "can pass multiple groupBy parameters to group by multiple, e.g.\_\
          `groupBy=project&groupBy=outcome`\_to group by multiple dimensions. Note\
          \ that grouping by project can cause missing rows if the number of projects\
          \ / interval is large. If you have a large number of projects, we recommend\
          \ filtering and querying by them individually.Also note that grouping by\
          \ projects does not currently support timeseries interval responses and\
          \ will instead be a sum of the projectover the entire period specified."
        explode: true
        in: query
        name: groupBy
        required: true
        schema:
          items:
            enum:
            - outcome
            - category
            - reason
            - project
            type: string
          type: array
        style: form
      - description: |-
          the `sum(quantity)` field is bytes for attachments, and all others the 'event' count for those types of events.

          `sum(times_seen)` sums the number of times an event has been seen. For 'normal' event types, this will be equal to `sum(quantity)` for now. For sessions, quantity will sum the total number of events seen in a session, while `times_seen` will be the unique number of sessions. and for attachments, `times_seen` will be the total number of attachments, while quantity will be the total sum of attachment bytes.
        explode: true
        in: query
        name: field
        required: true
        schema:
          enum:
          - sum(quantity)
          - sum(times_seen)
          minLength: 1
          type: string
        style: form
      - description: |-
          The ID of the projects to filter by.

          Use `-1` to include all accessible projects.
        explode: true
        in: query
        name: project
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          If filtering by attachments, you cannot filter by any other category due to quantity values becoming nonsensical (combining bytes and event counts).

          If filtering by `error`, it will automatically add `default` and `security` as we currently roll those two categories into `error` for displaying.
        explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - error
          - transaction
          - attachment
          minLength: 1
          type: string
        style: form
      - description: See https://docs.sentry.io/product/stats/ for more information
          on outcome statuses.
        explode: true
        in: query
        name: outcome
        required: false
        schema:
          enum:
          - accepted
          - filtered
          - rate_limited
          - invalid
          - abuse
          - client_discard
          minLength: 1
          type: string
        style: form
      - description: The reason field will contain why an event was filtered/dropped.
        explode: true
        in: query
        name: reason
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                SuccessfulResponse:
                  summary: Successful response
                  value:
                    start: 2022-02-14T19:00:00Z
                    end: 2022-02-28T18:03:00Z
                    intervals:
                    - 2022-02-28T00:00:00Z
                    groups:
                    - by:
                        outcome: invalid
                      totals:
                        sum(quantity): 165665
                      series:
                        sum(quantity):
                        - 165665
              schema:
                $ref: '#/components/schemas/Retrieve_Event_Counts_for_an_Organization__v2__200_response'
          description: ""
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - auth_token:
        - org:admin
        - org:read
        - org:write
      tags:
      - Organizations
      x-accepts: application/json
  /api/0/organizations/{organization_slug}/teams/:
    get:
      description: Returns a list of teams bound to a organization.
      operationId: List an Organization's Teams
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Specify "0" to return team details that do not include projects
        explode: true
        in: query
        name: detailed
        required: false
        schema:
          type: string
        style: form
      - description: A pointer to the last object fetched and its sort order; used
          to retrieve the next or previous results.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                GetListOfOrganization'sTeams:
                  summary: Get list of organization's teams
                  value:
                  - id: "48531"
                    slug: ancient-gabelers
                    name: Ancient Gabelers
                    dateCreated: 2018-11-06T21:20:08.115Z
                    isMember: false
                    teamRole: null
                    flags:
                      idp:provisioned: false
                    access:
                    - member:read
                    - alerts:read
                    - org:read
                    - event:read
                    - project:read
                    - project:releases
                    - event:write
                    - team:read
                    hasAccess: true
                    isPending: false
                    memberCount: 2
                    avatar:
                      avatarType: letter_avatar
                      avatarUuid: null
                    orgRole: null
                  - id: "100253"
                    slug: powerful-abolitionist
                    name: Powerful Abolitionist
                    dateCreated: 2018-10-03T17:47:50.745447Z
                    isMember: false
                    teamRole: null
                    flags:
                      idp:provisioned: false
                    access:
                    - member:read
                    - alerts:read
                    - org:read
                    - event:read
                    - project:read
                    - project:releases
                    - event:write
                    - team:read
                    hasAccess: true
                    isPending: false
                    memberCount: 5
                    avatar:
                      avatarType: letter_avatar
                      avatarUuid: null
                    orgRole: null
                    projects:
                    - id: "6403534"
                      slug: prime-mover
                      name: Prime Mover
                      platform: null
                      dateCreated: 2019-04-06T00:02:40.468175Z
                      isBookmarked: false
                      isMember: false
                      features:
                      - alert-filters
                      - custom-inbound-filters
                      - data-forwarding
                      - discard-groups
                      - minidump
                      - race-free-group-creation
                      - rate-limits
                      - servicehooks
                      - similarity-indexing
                      - similarity-indexing-v2
                      - similarity-view
                      - similarity-view-v2
                      - releases
                      firstEvent: 2019-04-06T02:00:21Z
                      firstTransactionEvent: true
                      access:
                      - alerts:read
                      - event:write
                      - org:read
                      - project:read
                      - member:read
                      - team:read
                      - event:read
                      - project:releases
                      hasAccess: true
                      hasMinifiedStackTrace: false
                      hasMonitors: true
                      hasProfiles: false
                      hasReplays: false
                      hasSessions: true
                      isInternal: false
                      isPublic: false
                      avatar:
                        avatarType: letter_avatar
                        avatarUuid: null
                      color: '#6d3fbf'
                      status: active
                    - id: "6403599"
                      slug: the-spoiled-yoghurt
                      name: The Spoiled Yoghurt
                      platform: ""
                      dateCreated: 2022-06-24T17:55:27.304367Z
                      isBookmarked: false
                      isMember: false
                      features:
                      - alert-filters
                      - custom-inbound-filters
                      - data-forwarding
                      - discard-groups
                      - minidump
                      - race-free-group-creation
                      - rate-limits
                      - servicehooks
                      - similarity-indexing
                      - similarity-indexing-v2
                      - similarity-view
                      - similarity-view-v2
                      firstEvent: 2022-07-13T18:17:56.197351Z
                      firstTransactionEvent: false
                      access:
                      - alerts:read
                      - event:write
                      - org:read
                      - project:read
                      - member:read
                      - team:read
                      - event:read
                      - project:releases
                      hasAccess: true
                      hasMinifiedStackTrace: false
                      hasMonitors: true
                      hasProfiles: false
                      hasReplays: false
                      hasSessions: false
                      isInternal: false
                      isPublic: false
                      avatar:
                        avatarType: letter_avatar
                        avatarUuid: null
                      color: '#6e3fbf'
                      status: active
              schema:
                items:
                  $ref: '#/components/schemas/List_an_Organization_s_Teams_200_response_inner'
                type: array
          description: ""
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - org:admin
        - org:read
        - org:write
      tags:
      - Teams
      x-accepts: application/json
    post:
      description: Create a new team bound to an organization.
      operationId: Create a New Team
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the team.
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: Optional slug for the team. If not provided a slug is generated
          from the name.
        explode: true
        in: query
        name: slug
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create_a_New_Team_request'
      responses:
        "201":
          content:
            application/json:
              examples:
                CreateANewTeam:
                  summary: Create a new team
                  value:
                    id: "5151492858"
                    slug: ancient-gabelers
                    name: Ancient Gabelers
                    dateCreated: 2021-06-12T23:38:54.168307Z
                    isMember: true
                    teamRole: admin
                    flags:
                      idp:provisioned: false
                    access:
                    - project:write
                    - member:read
                    - event:write
                    - team:admin
                    - alerts:read
                    - project:releases
                    - alerts:write
                    - org:read
                    - team:read
                    - project:admin
                    - project:read
                    - org:integrations
                    - event:read
                    - event:admin
                    - team:write
                    hasAccess: true
                    isPending: false
                    memberCount: 1
                    avatar:
                      avatarType: letter_avatar
                      avatarUuid: null
                    orgRole: null
              schema:
                $ref: '#/components/schemas/List_an_Organization_s_Teams_200_response_inner'
          description: ""
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: A team with this slug already exists.
      security:
      - auth_token:
        - org:admin
        - org:write
        - team:write
      tags:
      - Teams
      x-content-type: application/json
      x-accepts: application/json
  /api/0/projects/{organization_slug}/{project_slug}/events/{event_id}/source-map-debug/:
    get:
      description: |-
        Retrieve information about source maps for a given event.
        ```````````````````````````````````````````
        Return a list of source map errors for a given event.
      operationId: Debug issues related to source maps for a given event
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The slug of the project the resource belongs to.
        explode: false
        in: path
        name: project_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the event
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Index of the frame that should be used for source map resolution.
        explode: true
        in: query
        name: frame_idx
        required: true
        schema:
          type: integer
        style: form
      - description: Index of the exception that should be used for source map resolution.
        explode: true
        in: query
        name: exception_idx
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Debug_issues_related_to_source_maps_for_a_given_event_200_response'
          description: ""
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - project:admin
        - project:read
        - project:write
      tags:
      - Events
      x-accepts: application/json
  /api/0/teams/{organization_slug}/{team_slug}/projects/:
    get:
      description: Return a list of projects bound to a team.
      operationId: List a Team's Projects
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The slug of the team the resource belongs to.
        explode: false
        in: path
        name: team_slug
        required: true
        schema:
          type: string
        style: simple
      - description: A pointer to the last object fetched and its sort order; used
          to retrieve the next or previous results.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                GetListOfTeam'sProjects:
                  summary: Get list of team's projects
                  value:
                  - team:
                      id: "2349234102"
                      name: Prime Mover
                      slug: prime-mover
                    teams:
                    - id: "2349234102"
                      name: Prime Mover
                      slug: prime-mover
                    - id: "47584447"
                      name: Powerful Abolitionist
                      slug: powerful-abolitionist
                    id: "6758470122493650"
                    name: the-spoiled-yoghurt
                    slug: The Spoiled Yoghurt
                    isBookmarked: false
                    isMember: true
                    access:
                    - project:read
                    - event:read
                    - team:read
                    - alerts:read
                    - org:read
                    - event:write
                    - project:releases
                    - member:read
                    hasAccess: true
                    dateCreated: 2023-03-29T15:25:21.344565Z
                    environments:
                    - production
                    eventProcessing:
                      symbolicationDegraded: false
                    features:
                    - alert-filters
                    - custom-inbound-filters
                    - data-forwarding
                    - discard-groups
                    - minidump
                    - race-free-group-creation
                    - rate-limits
                    - servicehooks
                    - similarity-indexing
                    - similarity-indexing-v2
                    - similarity-view
                    - similarity-view-v2
                    firstEvent: null
                    firstTransactionEvent: true
                    hasSessions: false
                    hasProfiles: false
                    hasReplays: false
                    hasMonitors: false
                    hasMinifiedStackTrace: false
                    platform: node-express
                    platforms: []
                    latestRelease: null
                    hasUserReports: false
                    latestDeploys: null
                  - team:
                      id: "2349234102"
                      name: Prime Mover
                      slug: prime-mover
                    teams:
                    - id: "2349234102"
                      name: Prime Mover
                      slug: prime-mover
                    id: "1829334501859481"
                    name: Pump Station
                    slug: pump-station
                    isBookmarked: false
                    isMember: true
                    access:
                    - project:read
                    - event:read
                    - team:read
                    - alerts:read
                    - org:read
                    - event:write
                    - project:releases
                    - member:read
                    hasAccess: true
                    dateCreated: 2023-03-29T15:21:49.943746Z
                    environments:
                    - production
                    eventProcessing:
                      symbolicationDegraded: false
                    features:
                    - alert-filters
                    - custom-inbound-filters
                    - data-forwarding
                    - discard-groups
                    - minidump
                    - race-free-group-creation
                    - rate-limits
                    - servicehooks
                    - similarity-indexing
                    - similarity-indexing-v2
                    - similarity-view
                    - similarity-view-v2
                    firstEvent: 2023-04-05T21:02:08.054000Z
                    firstTransactionEvent: false
                    hasSessions: false
                    hasProfiles: false
                    hasReplays: false
                    hasMonitors: false
                    hasMinifiedStackTrace: true
                    platform: javascript
                    platforms:
                    - javascript
                    latestRelease: null
                    hasUserReports: false
                    latestDeploys: null
              schema:
                items:
                  $ref: '#/components/schemas/List_an_Organization_s_Projects_200_response_inner'
                type: array
          description: ""
        "403":
          description: Forbidden
        "404":
          description: Team not found.
      security:
      - auth_token:
        - project:admin
        - project:read
        - project:write
      tags:
      - Teams
      x-accepts: application/json
    post:
      description: Create a new project bound to a team.
      operationId: Create a New Project
      parameters:
      - description: The slug of the organization the resource belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The slug of the team the resource belongs to.
        explode: false
        in: path
        name: team_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the project.
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: Optional slug for the project. If not provided a slug is generated
          from the name.
        explode: true
        in: query
        name: slug
        required: false
        schema:
          type: string
        style: form
      - description: The platform for the project.
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      - description: Defaults to true where the behavior is to alert the user on every
          new issue. Setting this to false will turn this off and the user must create
          their own alerts to be notified of new issues.
        explode: true
        in: query
        name: default_rules
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create_a_New_Project_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                ProjectSuccessfullyCreated:
                  summary: Project successfully created
                  value:
                    id: "4505321021243392"
                    slug: the-spoiled-yoghurt
                    name: The Spoiled Yoghurt
                    platform: python
                    dateCreated: 2023-06-08T00:13:06.004534Z
                    isBookmarked: false
                    isMember: true
                    features:
                    - alert-filters
                    - custom-inbound-filters
                    - data-forwarding
                    - discard-groups
                    - minidump
                    - race-free-group-creation
                    - rate-limits
                    - servicehooks
                    - similarity-indexing
                    - similarity-indexing-v2
                    - similarity-view
                    - similarity-view-v2
                    firstEvent: null
                    firstTransactionEvent: false
                    access:
                    - member:read
                    - event:read
                    - project:admin
                    - team:write
                    - project:write
                    - team:admin
                    - project:read
                    - org:integrations
                    - org:read
                    - project:releases
                    - team:read
                    - alerts:write
                    - event:admin
                    - event:write
                    - alerts:read
                    hasAccess: true
                    hasMinifiedStackTrace: false
                    hasMonitors: false
                    hasProfiles: false
                    hasReplays: false
                    hasSessions: false
                    isInternal: false
                    isPublic: false
                    avatar:
                      avatarType: letter_avatar
                      avatarUuid: null
                    color: '#3f70bf'
                    status: active
              schema:
                $ref: '#/components/schemas/Retrieve_monitors_for_an_organization_200_response_inner_project'
          description: ""
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Team not found.
        "409":
          description: A project with this slug already exists.
      security:
      - auth_token:
        - project:admin
        - project:write
      tags:
      - Projects
      x-content-type: application/json
      x-accepts: application/json
  /api/0/teams/{organization_slug}/{team_slug}/:
    delete:
      description: |-
        Schedules a team for deletion.

        Note: Deletion happens asynchronously and therefore is not immediate. However once deletion has begun the state of a project changes and will be hidden from most public views.
      operationId: Delete a Team
      parameters:
      - description: The slug of the organization the team belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The slug of the team to get.
        explode: false
        in: path
        name: team_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "403":
          description: Forbidden
        "404":
          description: Team not found
      security:
      - auth_token:
        - team:admin
      tags:
      - Teams
      x-accepts: application/json
    get:
      description: Return details on an individual team.
      operationId: Retrieve a Team
      parameters:
      - description: The slug of the organization the team belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The slug of the team to get.
        explode: false
        in: path
        name: team_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                avatar:
                  avatarType: letter_avatar
                  avatarUuid: null
                dateCreated: 2018-11-06T21:19:55.114Z
                hasAccess: true
                id: "2"
                isMember: true
                isPending: false
                memberCount: 1
                name: Powerful Abolitionist
                organization:
                  avatar:
                    avatarType: letter_avatar
                    avatarUuid: null
                  dateCreated: 2018-11-06T21:19:55.101Z
                  id: "2"
                  isEarlyAdopter: false
                  name: The Interstellar Jurisdiction
                  require2FA: false
                  slug: the-interstellar-jurisdiction
                  status:
                    id: active
                    name: active
                slug: powerful-abolitionist
              schema:
                $ref: '#/components/schemas/Retrieve_a_Team_200_response'
          description: Success
        "403":
          description: Forbidden
        "404":
          description: Team not found
      security:
      - auth_token:
        - team:read
      tags:
      - Teams
      x-accepts: application/json
    put:
      description: Update various attributes and configurable settings for the given
        team.
      operationId: Update a Team
      parameters:
      - description: The slug of the organization the team belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The slug of the team to get.
        explode: false
        in: path
        name: team_slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: The Inflated Philosophers
              slug: the-inflated-philosophers
            schema:
              $ref: '#/components/schemas/Update_a_Team_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                avatar:
                  avatarType: letter_avatar
                dateCreated: 2018-11-06T21:20:08.115Z
                hasAccess: true
                id: "3"
                isMember: false
                isPending: false
                memberCount: 1
                name: The Inflated Philosophers
                slug: the-inflated-philosophers
              schema:
                $ref: '#/components/schemas/Update_a_Team_200_response'
          description: Success
        "400":
          description: Bad Input
        "403":
          description: Forbidden
        "404":
          description: Team not found
      security:
      - auth_token:
        - team:write
      tags:
      - Teams
      x-content-type: application/json
      x-accepts: application/json
  /api/0/teams/{organization_slug}/{team_slug}/stats/:
    get:
      description: |-
        Return a set of points representing a normalized timestamp and the number of events seen in the period.

        Query ranges are limited to Sentry’s configured time-series resolutions.
      operationId: Retrieve Event Counts for a Team
      parameters:
      - description: The slug of the organization the team belongs to.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The slug of the team to get.
        explode: false
        in: path
        name: team_slug
        required: true
        schema:
          type: string
        style: simple
      - description: "The name of the stat to query `(\"received\", \"rejected\")`."
        explode: true
        in: query
        name: stat
        required: false
        schema:
          enum:
          - received
          - rejected
          type: string
        style: form
      - description: A timestamp to set the start of the query in seconds since UNIX
          epoch.
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: A timestamp to set the end of the query in seconds since UNIX
          epoch.
        explode: true
        in: query
        name: until
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "An explicit resolution to search for (one of `10s`, `1h`, and\
          \ `1d`)."
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          enum:
          - 10s
          - 1h
          - 1d
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - - 1541455200
                - 3302
              - - 1541458800
                - 3832
              - - 1541462400
                - 3669
              - - 1541466000
                - 3533
              - - 1541469600
                - 3499
              - - 1541473200
                - 3201
              - - 1541476800
                - 3769
              - - 1541480400
                - 2706
              - - 1541484000
                - 2698
              - - 1541487600
                - 3747
              - - 1541491200
                - 3261
              - - 1541494800
                - 2860
              - - 1541498400
                - 4350
              - - 1541502000
                - 2924
              - - 1541505600
                - 3389
              - - 1541509200
                - 2931
              - - 1541512800
                - 3132
              - - 1541516400
                - 3213
              - - 1541520000
                - 3650
              - - 1541523600
                - 3096
              - - 1541527200
                - 3845
              - - 1541530800
                - 3545
              - - 1541534400
                - 2880
              - - 1541538000
                - 4057
              schema:
                items:
                  items:
                    type: integer
                  type: array
                type: array
          description: Success
        "403":
          description: Forbidden
        "404":
          description: Team not found
      security:
      - auth_token:
        - team:read
      summary: "Caution: this endpoint may change in the future without notice."
      tags:
      - Teams
      x-accepts: application/json
  /api/0/organizations/:
    get:
      description: Return a list of organizations available to the authenticated session.  This
        is particularly useful for requests with an user bound context.  For API key
        based requests this will only return the organization that belongs to the
        key.
      operationId: List Your Organizations
      parameters:
      - description: Restrict results to organizations in which you are an organization
          owner.
        explode: true
        in: query
        name: owner
        required: false
        schema:
          type: boolean
        style: form
      - description: A pointer to the last object fetched and its sort order; used
          to retrieve the next or previous results.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
        x-learn-more: https://docs.sentry.io/api/pagination/
      responses:
        "200":
          content:
            application/json:
              example:
              - avatar:
                  avatarType: letter_avatar
                  avatarUuid: null
                dateCreated: 2018-11-06T21:19:55.101Z
                id: "2"
                isEarlyAdopter: false
                name: The Interstellar Jurisdiction
                require2FA: false
                slug: the-interstellar-jurisdiction
                status:
                  id: active
                  name: active
              schema:
                items:
                  $ref: '#/components/schemas/Retrieve_a_Team_200_response_organization'
                type: array
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - auth_token:
        - "org: read"
      tags:
      - Organizations
      x-accepts: application/json
  /api/0/organizations/{organization_slug}/eventids/{event_id}/:
    get:
      description: This resolves an event ID to the project slug and internal issue
        ID and internal event ID.
      operationId: Resolve an Event ID
      parameters:
      - description: The slug of the organization the event ID should be looked up
          in.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      - description: The event ID to look up.
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                event:
                  _meta:
                    context: null
                    contexts: null
                    entries: {}
                    message: null
                    packages: null
                    sdk: null
                    tags: {}
                    user: null
                  context:
                    length: 10837790
                    results:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    session:
                      foo: bar
                    unauthorized: false
                    url: http://example.org/foo/bar/
                  contexts: {}
                  dateCreated: 2018-11-06T21:19:55Z
                  dateReceived: 2018-11-06T21:19:55Z
                  dist: null
                  entries:
                  - type: request
                    data:
                      fragment: null
                      cookies: []
                      inferredContentType: null
                      env: null
                      headers:
                      - - User-Agent
                        - "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36\
                          \ (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36"
                      url: http://example.com/foo
                      query: []
                      data: null
                      method: null
                  errors: []
                  eventID: 9fac2ceed9344f2bbfdd1fdacb0ed9b1
                  fingerprints:
                  - c4a4d06bc314205bb3b6bdb612dde7f1
                  groupID: "1"
                  id: "1"
                  message: ""
                  title: This is an example Python exception
                  metadata:
                    title: This is an example Python exception
                  packages:
                    my.package: 1.0.0
                  platform: python
                  sdk: null
                  size: 7055
                  tags:
                  - _meta: null
                    key: browser
                    value: Chrome 28.0
                  - _meta: null
                    key: device
                    value: Other
                  - _meta: null
                    key: level
                    value: error
                  - _meta: null
                    key: os
                    value: Windows 8
                  - _meta: null
                    key: release
                    value: 17642328ead24b51867165985996d04b29310337
                  - _meta: null
                    key: url
                    value: http://example.com/foo
                  - _meta: null
                    key: user
                    value: id:1
                  type: default
                  user:
                    data: {}
                    email: sentry@example.com
                    id: "1"
                    ip_address: 127.0.0.1
                    name: Sentry
                    username: sentry
                eventId: "1"
                groupId: "1"
                organizationSlug: the-interstellar-jurisdiction
                projectSlug: pump-station
              schema:
                $ref: '#/components/schemas/Resolve_an_Event_ID_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - auth_token:
        - "org: read"
      tags:
      - Organizations
      x-accepts: application/json
  /api/0/organizations/{organization_slug}/:
    get:
      description: "Return details on an individual organization including various\
        \ details such as membership access, features, and teams."
      operationId: Retrieve an Organization
      parameters:
      - description: The slug of the organization to look up.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                access: []
                allowSharedIssues: true
                availableRoles:
                - id: member
                  name: Member
                - id: admin
                  name: Admin
                - id: manager
                  name: Manager
                - id: owner
                  name: Owner
                avatar:
                  avatarType: letter_avatar
                  avatarUuid: null
                dataScrubber: false
                dataScrubberDefaults: false
                dateCreated: 2018-11-06T21:19:55.101Z
                defaultRole: member
                enhancedPrivacy: false
                experiments: {}
                features:
                - new-teams
                - shared-issues
                - new-issue-ui
                - repos
                - open-membership
                - invite-members
                - sso-saml2
                - sso-basic
                - suggested-commits
                id: "2"
                isDefault: false
                isEarlyAdopter: false
                name: The Interstellar Jurisdiction
                onboardingTasks:
                - data: {}
                  dateCompleted: 2018-11-06T21:20:08.089Z
                  status: complete
                  task: 1
                  user: ""
                openMembership: true
                pendingAccessRequests: 0
                projects:
                - dateCreated: 2018-11-06T21:19:58.536Z
                  firstEvent: null
                  hasAccess: true
                  id: "3"
                  isBookmarked: false
                  isMember: true
                  latestDeploys: null
                  name: Prime Mover
                  platform: null
                  platforms: []
                  slug: prime-mover
                  team:
                    id: "2"
                    name: Powerful Abolitionist
                    slug: powerful-abolitionist
                  teams:
                  - id: "2"
                    name: Powerful Abolitionist
                    slug: powerful-abolitionist
                - dateCreated: 2018-11-06T21:19:55.121Z
                  firstEvent: null
                  hasAccess: true
                  id: "2"
                  isBookmarked: false
                  isMember: true
                  latestDeploys: null
                  name: Pump Station
                  platform: null
                  platforms: []
                  slug: pump-station
                  team:
                    id: "2"
                    name: Powerful Abolitionist
                    slug: powerful-abolitionist
                  teams:
                  - id: "2"
                    name: Powerful Abolitionist
                    slug: powerful-abolitionist
                - dateCreated: 2018-11-06T21:20:08.064Z
                  firstEvent: null
                  hasAccess: true
                  id: "4"
                  isBookmarked: false
                  isMember: true
                  latestDeploys: null
                  name: The Spoiled Yoghurt
                  platform: null
                  platforms: []
                  slug: the-spoiled-yoghurt
                  team:
                    id: "2"
                    name: Powerful Abolitionist
                    slug: powerful-abolitionist
                  teams:
                  - id: "2"
                    name: Powerful Abolitionist
                    slug: powerful-abolitionist
                quota:
                  accountLimit: 0
                  maxRate: 0
                  maxRateInterval: 60
                  projectLimit: 100
                require2FA: false
                safeFields: []
                scrapeJavaScript: true
                scrubIPAddresses: false
                sensitiveFields: []
                slug: the-interstellar-jurisdiction
                status:
                  id: active
                  name: active
                storeCrashReports: 0
                teams:
                - avatar:
                    avatarType: letter_avatar
                    avatarUuid: null
                  dateCreated: 2018-11-06T21:20:08.115Z
                  hasAccess: true
                  id: "3"
                  isMember: true
                  isPending: false
                  memberCount: 1
                  name: Ancient Gabelers
                  slug: ancient-gabelers
                - avatar:
                    avatarType: letter_avatar
                    avatarUuid: null
                  dateCreated: 2018-11-06T21:19:55.114Z
                  hasAccess: true
                  id: "2"
                  isMember: true
                  isPending: false
                  memberCount: 1
                  name: Powerful Abolitionist
                  slug: powerful-abolitionist
                trustedRelays: []
              schema:
                $ref: '#/components/schemas/Retrieve_an_Organization_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: The requested resource does not exist
      security:
      - auth_token:
        - "org: read"
      tags:
      - Organizations
      x-accepts: application/json
    put:
      description: Update various attributes and configurable settings for the given
        organization.
      operationId: Update an Organization
      parameters:
      - description: The slug of the organization to update.
        explode: false
        in: path
        name: organization_slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Impeccably Designated
              slug: impeccably-designated
            schema:
              $ref: '#/components/schemas/Update_an_Organization_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                access: []
                allowSharedIssues: true
                availableRoles:
                - id: member
                  name: Member
                - id: admin
                  name: Admin
                - id: manager
                  name: Manager
                - id: owner
                  name: Owner
                avatar:
                  avatarType: letter_avatar
                  avatarUuid: null
                dataScrubber: false
                dataScrubberDefaults: false
                dateCreated: 2018-11-06T21:20:19.548Z
                defaultRole: member
                enhancedPrivacy: false
                experiments: {}
                features:
                - new-teams
                - shared-issues
                - new-issue-ui
                - repos
                - open-membership
                - invite-members
                - sso-saml2
                - sso-basic
                - suggested-commits
                id: "3"
                isDefault: false
                isEarlyAdopter: false
                name: Impeccably Designated
                onboardingTasks: []
                openMembership: true
                pendingAccessRequests: 0
                projects: []
                quota:
                  accountLimit: 0
                  maxRate: 0
                  maxRateInterval: 60
                  projectLimit: 100
                require2FA: false
                safeFields: []
                scrapeJavaScript: true
                scrubIPAddresses: false
                sensitiveFields: []
                slug: impeccably-designated
                status:
[...]
